/* -------------------------------------------------------------------------- */
/*                             Master   shift + alt + x                       */
/* -------------------------------------------------------------------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.body {
    width: 100%;
    height: 100vh;
}


/* -------------------------------------------------------------------------- */
/*                            Header for all pages                            */
/* -------------------------------------------------------------------------- */
.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    border-bottom: 2px solid #dbdbdb;
}




.nav-area {
    list-style: none;
}


.nav-area li {
    display: inline-block;
    padding: 3.5px;
    text-transform: uppercase;
    text-decoration: none;
}


.nav-area li a {
    transition: .3s;
    color: black;
    text-decoration: none;
}


.nav-area li a:hover {
    color: #d22938;
    cursor: pointer;
}

/* logo , my account and shopping cart */
nav .navbar-top {
    max-width: 1600px;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-top .logo {
    position: absolute;
    top: 30px;
    left: 100px;
    width: 150px;
    height: 75px;
}

/* Cart */
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

#cart {
    display: none;
}

.container {
    width: 99%;
    padding-right: 18.75rem;
    padding-left: 18.75rem;

}

.content-section {
    margin-block-end: 14.1rem
}

.section-header {
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}


/* BUTTON Product Remove in cart*/
.btn-danger {
    width: 5.813rem;
    height: 2.5rem;

    border-radius: 4px;
    background-color: #f9423d;

    outline: none;
    border: none;
    color: #fff;

    font-size: 1rem;
}


.btn-danger:hover {
    background-color: #337af1;
    cursor: pointer;
    transition: all 0.4s ease-out;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.button-row {
    display: flex;
    justify-content: space-around;
}


/* BUTTON Product Add to cart*/
.btn-primary {
    width: 7.8125rem;
    height: 2.5rem;

    border-radius: 4px;
    background-color: #f9423d;

    outline: none;
    border: none;
    color: #fff;

    font-size: 1rem;
}


.btn-primary:hover {
    background-color: #337af1;
    cursor: pointer;
    transition: all 0.4s ease-out;
}


/* Categories */
.category-area {
    list-style: none;
    display: inline-block;
    padding: 0.21875rem;
    text-transform: uppercase;
    text-decoration: none;
}

.categories {
    font-size: 0.9375rem;
    font-weight: bold;
    letter-spacing: 0.125rem;
    white-space: normal;
    word-break: break-word;

    text-align: center;
    width: auto;
    padding-top: 1.6875rem;
    cursor: pointer;

    display: inline-block;

    padding-left: 20rem;
}




/* Price Filter */
.filter-condition {
    padding: 1.25rem;
    height: 6.25rem;
    font-size: 1rem;
    font-weight: bold;
}

.filter-condition select {
    width: 7.5rem;
    padding: 0rem 0rem 0rem 0.625rem;
    border: none;
    outline: none;
    font-weight: bold;
    background: transparent;
    cursor: pointer;
}


/* Sort By Buttons Default */
#op0 {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: #f9423d;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
}

#op0:hover {
    background-color: #337af1;
    cursor: pointer;
    transition: all 0.4s ease-out;
}

/* LOW TO HIGH BUTTON */
#op1 {
    width: 110px;
    height: 40px;
    border-radius: 4px;
    background-color: #f9423d;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
}

#op1:hover {
    background-color: #337af1;
    cursor: pointer;
    transition: all 0.4s ease-out;
}

/* HIGH TO LOW BUTTON */
#op2 {
    width: 110px;
    height: 40px;
    border-radius: 4px;
    background-color: #f9423d;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
}

#op2:hover {
    background-color: #337af1;
    cursor: pointer;
    transition: all 0.4s ease-out;
}


/* -------------------------------------------------------------------------- */
/*                              Header Responsive                             */
/* -------------------------------------------------------------------------- */


/* Iphone 5/SE */
@media screen and (max-width: 568px) {
    .headerContainer {
        padding: 1rem;
    }

    .nav-area li {
        display: inline-block;
        padding: 1px;
        text-transform: uppercase;
        text-decoration: none;
        font-size: .9rem;
    }

    button {
        margin-top: 1rem;
        margin-left: .8rem;

        font-size: 12px;
        width: 60px;
        height: 40px;
    }

    .header-title {
        font-size: 1rem;
    }
}

/* Index Page */
#cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* all the product cards on index page and THE POPUP*/
.card {
    background-color: white;
    width: 400px;
    height: auto;
    box-shadow: 0 0 1px 0px black;
    text-align: center;
    padding: 1.5em;
    margin-bottom: 2em;
    margin-top: 1.2rem;
}

.images {
    width: 200px;
    height: 200px;
}

.title {
    font-size: 1.3rem;
}

.category,
.price {
    font-weight: bold;
    text-transform: capitalize;
    margin: 1em;
    font-size: 1.2rem;
}

.description {
    display: none;
}


.hidden {
    display: none;
}





.category,
.price {
    font-weight: bold;
    text-transform: capitalize;
    margin: 1em;
    font-size: 1.2rem;
}

#lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .8);
    display: none;
}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#lightbox img {
    max-width: 90%;
    max-height: 80%;
    padding: 4px;
}


@media screen and (max-width: 430px) {
    #cards {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        width: 340px;
    }
}


/* tablet */

@media screen and (min-width: 768px) {
    #cards {
        display: flex;
        flex-wrap: wrap;
    }
}



/* desktop */
@media screen and (min-width: 992px) {
    #cards {
        display: flex;
        flex-wrap: wrap;
    }
}


/* -------------------------------------------------------------------------- */
/*                                Contact Page                                */
/* -------------------------------------------------------------------------- */
.contact-page-container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);

}

/* BUTTON */
.buttonContact {
    width: 100px;
    height: 40px;

    border-radius: 4px;
    background-color: #f9423d;

    outline: none;
    border: none;
    color: #fff;

    font-size: 1rem;
}


.buttonContact:hover {
    background-color: #337af1;
    cursor: pointer;
    transition: all 0.4s ease-out;
}

.h1 {
    font-weight: normal;
    padding: 20px;
    color: none;
    text-align: center;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);

    margin-block-start: 2rem;
    margin-block-end: 2rem;
}


.inside-form {
    padding: 30px;
    margin-block-end: 4.2rem;
}


.input-holder {
    position: relative;
    margin-bottom: 25px;
    text-align: left;
}


.input-text {
    width: 100%;
    height: 40px;
    border: 0.1px solid black;
}

/* Input Text Message in Contact Page */
.input-text-message {
    width: 100%;
    border: 0.1px solid black;
}


/* BUTTON */
.send-btn {
    width: 100px;
    height: 40px;

    border-radius: 4px;
    background-color: #f9423d;

    outline: none;
    border: none;
    color: #fff;

    font-size: 1rem;

    font: inherit;
    cursor: pointer;
}

.send-btn:hover {
    background-color: #337af1;
    cursor: pointer;
    transition: all 0.4s ease-out;
}


/* Email Address, Full Name, Message etc..  */
.label {
    font-size: 18px;
}





/* Search Bar */
.input-container {
    text-align: center;
    margin: auto;
    margin-block-start: 1.2rem;
}

input[type=search] {
    padding: 8px 10px;
    margin: 8px 0;
    color: black;
    display: inline-block;
    width: 20%;
}

::placeholder {
    color: black;
    font-size: 14px;
}


/* BUTTON add to cart button in search bar*/
.btnCart {
    width: 100px;
    height: 40px;

    border-radius: 4px;
    background-color: #f9423d;

    outline: none;
    border: none;
    color: #fff;

    font-size: 1rem;

    font: inherit;
    cursor: pointer;
}

.btnCart:hover {
    background-color: #337af1;
    cursor: pointer;
    transition: all 0.4s ease-out;
}


/* -------------------------------------------------------------------------- */
/*                                   footer                                   */
/* -------------------------------------------------------------------------- */
.footer-container {
    background-color: #212329;
    padding: 4rem 0 2rem 0;
    margin-block-start: 7.3rem;
}


.footer {
    width: 80%;
    height: 40vh;

    background-color: #212329;
    color: #fff;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}


.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}


.footer-heading h2 {
    margin-bottom: 2rem;
}


.footer-heading a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}


.footer-heading a:hover {
    color: red;
    transition: 0.3s ease-out;
}


.footer-email-form h2 {
    margin-bottom: 2rem;
}


#footer-email {
    width: 250px;
    height: 40px;

    border-radius: 4px;

    outline: none;
    border: none;

    padding-left: 0.5rem;
    margin-bottom: 1rem;

    font-size: 1rem;
}


#footer-email::placeholder {
    color: #b1b1b1;
}


#footer-email-btn {
    width: 100px;
    height: 40px;

    border-radius: 4px;
    background-color: #f9423d;

    outline: none;
    border: none;
    color: #fff;

    font-size: 1rem;
}


#footer-email-btn:hover {
    background-color: #337af1;
    cursor: pointer;
    transition: all 0.4s ease-out;
}